# General
*.swp
*.swo
*.log
*~
.DS_Store
.idea
.env

# Old OS3 files and folders
.coverage
.mypy_cache
.virtualenv
node_modules
package-lock.json
.vscode
Compodoc
__pycache__
bower_components
client
make
openslides_*
openslides
personal_data
tests
