<ng-container *ngIf="motion">
    <div class="mat-card create-poll-button" *ngIf="perms.isAllowed('createpoll', motion)">
        <button mat-button (click)="openDialog()">
            <mat-icon class="main-nav-color">poll</mat-icon>
            <span translate>New poll</span>
        </button>
    </div>
    <os-motion-poll-preview
        *ngFor="let poll of motion.polls; trackBy: trackByIndex"
        [poll]="poll"
        (edit)="openDialog(poll)"
    ></os-motion-poll-preview>
</ng-container>